Repository BinaryStudioAcademy/bsa-2022-streamlet, pull requests merged in 2022-09, with the labels that each got.

#188 fix/frontend-217: * fixed sizes elements on mobile sidebar
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
Labels: fix, frontend

#190 fix/frontend-221: * corrected icons size
  frontend/src/components/common/header/header.tsx
  frontend/src/components/notification-dropdown/notification-dropdown.tsx
  frontend/src/components/notification-dropdown/styles.module.scss
Labels: fix, frontend

#189 fix/frontend-219: * centered button clear text
  frontend/src/components/common/header/header.module.scss
Labels: fix, frontend

#192 Fix/frontend218 unexpected sidebar behavior
  frontend/src/common/enums/app/app-window-sizes.enum.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/sidebar-container.tsx
Labels: fix, frontend

#193 fix/frontend203 * add like dislike video comments
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
Labels: frontend

#194 frontend: * fix loading jpeg
  frontend/src/components/common/upload-image/upload-image.tsx
Labels: frontend

#186 Task/frontend107 implement history page
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/primary-adapters/rest/middleware/create-video-history-record.ts
  backend/core/src/primary-adapters/rest/middleware/index.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/constants/constants.ts
  backend/core/src/shared/enums/api/api.ts
  backend/core/src/shared/helpers/trim-history.ts
  backend/core/src/shared/types/container-type-keys.ts
  frontend/package.json
  frontend/src/common/enums/api/api.ts
  frontend/src/common/types/history/history.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/upload-image/upload-image.tsx
  frontend/src/helpers/array/is-object-unique-id-contain-intwo-array.ts
  frontend/src/helpers/date/date.ts
  frontend/src/helpers/date/get-date-string-at-dd-mm-yyyy-format/get-date-string-at-dd-mm-yyyy-format.ts
  frontend/src/helpers/date/is-date-same-by-day-mounth-year/is-date-same-by-day-mounth-year.ts
  frontend/src/helpers/helpers.ts
  frontend/src/index.tsx
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/history/history-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/history/actions.ts
  frontend/src/store/history/common.ts
  frontend/src/store/history/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  package-lock.json
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/history-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/types/history/history-response-dto.ts
  shared/src/common/types/history/index.ts
Labels: core-server, frontend, root, shared

#196 Task/frontned205 implement the browse page
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/constants/constants.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/video/create-popular-response.ts
  backend/core/src/shared/types/video/video.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/pages/history-page/common/skeleton/skeleton-config.ts
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/video/popular-video-response-dto.type.ts
  shared/src/common/types/video/popular-videos-request-dto.type.ts
  shared/src/common/types/video/video.ts
Labels: core-server, frontend, shared

#197 frontend-220: * fix color, first tab to display and allow to hide spe…
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/pages/channel-page/channel-page.tsx
  frontend/src/pages/channel-page/components/video-section/channel-video-card/channel-video-card.tsx
Labels: frontend

#195 Fix/frontend210 fix video page
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/types/video/video-expanded-dto-before-trimming.ts
  frontend/src/assets/css/helpers/break-long-words.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.module.scss
  frontend/src/components/common/mobile-sidebar/mobile-sidebar.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/common/user-avatar-or-initials/styles.module.scss
  frontend/src/components/common/user-avatar-or-initials/user-avatar-or-initials.tsx
  frontend/src/pages/video/channel-info-row/channel-info-row.tsx
  frontend/src/pages/video/channel-info-row/styles.module.scss
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-header/styles.module.scss
  frontend/src/pages/video/video-header/video-header.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/store/video-page/reducer.ts
  shared/src/common/types/video/video-expanded-response-dto.ts
Labels: core-server, frontend, shared

#201 Task/frontend206 stream chat stylization
  backend/core/src/configuration/swagger.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/core/src/shared/helpers/trim-video-to-chat-info.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/types/video/video-expanded-dto-before-trimming.ts
  backend/push/src/helpers/get-socket-id-by-user-id.helper.ts
  backend/push/src/helpers/get-user-ids-in-room.helper.ts
  backend/push/src/services/socket/socket-service.ts
  frontend/src/assets/img/arrow-down-2.svg
  frontend/src/assets/img/clock-rotate-left.svg
  frontend/src/assets/img/ellipsis-vertical.svg
  frontend/src/assets/img/up-right-from-square.svg
  frontend/src/assets/img/users-between-lines.svg
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/component/chat-menu-options.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/send-message/send-message.tsx
  frontend/src/components/video-chat/components/components.ts
  frontend/src/components/video-chat/components/participant/participant.tsx
  frontend/src/components/video-chat/components/participant/styles.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.module.scss
  frontend/src/components/video-chat/components/video-comment/video-comment.tsx
  frontend/src/components/video-chat/config.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/components/video-chat/video-comment/video-comment.module.scss
  frontend/src/components/video-chat/video-comment/video-comment.tsx
  frontend/src/helpers/common/common.ts
  frontend/src/helpers/common/debounce.helper.ts
  frontend/src/helpers/common/get-right-update-time-delay.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/live-chat/config.ts
  frontend/src/pages/live-chat/live-chat.tsx
  frontend/src/pages/live-chat/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  frontend/src/store/actions.ts
  frontend/src/store/chat/actions.ts
  frontend/src/store/chat/common.ts
  frontend/src/store/chat/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/socket/actions.ts
  frontend/src/store/socket/common.ts
  frontend/src/store/socket/reducer.ts
  nginx/nginx.conf
  nginx/nginx.local.conf
  shared/src/common/enums/socket/socket-events.ts
  shared/src/common/types/chat/chat-info-response-dto.type.ts
  shared/src/common/types/video/video-expanded-response-dto.ts
Labels: enhancement, push-server, core-server, frontend, shared

#202 Fix/frontend234 hover auth elements
  frontend/src/assets/img/eye-slash.svg
  frontend/src/assets/img/eye.svg
  frontend/src/components/auth/components/common/auth-submit-btn/auth-submit-btn.tsx
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/password-input/password-input.tsx
Labels: fix, frontend

#203 frontend-232: display history bug fix
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/store/history/reducer.ts
Labels: fix, frontend

#198 Task/backend 111 implement video preferences
  backend/core/prisma/migrations/20220901151130_add_user_video_preferences/migration.sql
  backend/core/prisma/migrations/20220902165942_poster_path_fix/migration.sql
  backend/core/prisma/migrations/20220902235727_add_category_user_many_to_many/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  backend/core/src/shared/types/user/user-get-preferences-response-dto.ts
  backend/core/src/shared/types/user/user.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/user-api-path.enum.ts
  shared/src/common/types/user/user-bind-categories-dto.ts
  shared/src/common/types/user/user.ts
Labels: core-server, shared

#205 frontend: + add base url that will be appended to videos if they have…
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/components/common/video-player/video-player.tsx
Labels: frontend

#204 Fix/frontend 203 add like dislike video comments
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
  frontend/src/components/video-chat/comments.mock.ts
  frontend/src/helpers/video/get-react-button-color.helper.ts
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  shared/src/common/types/comment/base-comment-reaction.ts
  shared/src/common/types/comment/index.ts
  shared/src/common/types/video/comment-reaction.ts
  shared/src/common/types/video/video.ts
Labels: core-server, frontend, shared

#207 Fix/common206 socket config
  .github/workflows/deploy-dev.yml
  frontend/src/common/config/socket.ts
  frontend/src/common/enums/app/env.enum.ts
  nginx/nginx.conf
  nginx/nginx.local.conf
  package.json
Labels: fix, ci/cd, frontend, root

#208 frontend-206: * fix send message
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.module.scss
Labels: fix, frontend

#210 Fix/frontend159 auth pages
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-in-form/styles.module.scss
  frontend/src/components/common/input/password-input/password-input.module.scss
Labels: fix, frontend

#206 frontend-205: * improve browse page
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/following-page/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-button/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/styles.module.scss
Labels: frontend

#211 Task/frontend248 fix history browse page skeleton
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/pagination/pagination.ts
  backend/core/src/shared/helpers/pagination/use-pagination.ts
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/common/skeleton-config.ts
  frontend/src/pages/browse-page/common/skeleton.tsx
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/store/history/reducer.ts
  frontend/src/store/videos/reducer.ts
Labels: core-server, frontend

#212 Fix/frontend211 video player fixes
  backend/push/src/services/socket/socket-service.ts
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/back-arrow.svg
  frontend/src/assets/img/circle-empty-inside.svg
  frontend/src/assets/img/circle-selected.svg
  frontend/src/assets/img/settings-tune.svg
  frontend/src/assets/img/tick.svg
  frontend/src/components/app/app.tsx
  frontend/src/components/app/scroll-to-top.tsx
  frontend/src/components/common/video-player/play-pause-center-effect/play-pause-center-effect.tsx
  frontend/src/components/common/video-player/video-player-controls/fullscreen-button/fullscreen-button.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/live-indicator.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/header-styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/modal-item.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/quality-selector/quality-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/speed-selector/speed-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/pages/browse-page/browse-page.tsx
  package-lock.json
Labels: push-server, frontend, root

#213 Task/frontned224 the validation message isn't displayed after saving the username that is already taken
  backend/core/src/core/profile/aplication/profile-service.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/profile/profile-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
  frontend/src/store/profile/reducer.ts
Labels: fix, core-server, frontend

#209 Task/backend204 implement replies for comment
  backend/core/prisma/migrations/20220902081827_add_parent_id_to_comment/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/video-chat/comments.mock.ts
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/comment/index.ts
  shared/src/common/types/video/base-replies-response-dto.type.ts
  shared/src/common/types/video/base-reply-request-dto.type.ts
  shared/src/common/types/video/video.ts
Labels: core-server, frontend, shared

#214 fixed api path to replies
  frontend/src/services/video-api/video-api.service.ts
Labels: fix, frontend

#215 fixed problems with scroll to top
  frontend/src/components/app/scroll-to-top.tsx
Labels: fix, frontend

#216 Fix/frontend205 implement browse page
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/video/create-popular-response.ts
  frontend/src/components/common/no-videos-yet/no-videos-yet.tsx
  frontend/src/components/common/no-videos-yet/styles.module.scss
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/following-page/tabs/live-videos/live-videos-tab.tsx
  frontend/src/pages/following-page/tabs/offline-videos/offline-videos-tab.tsx
  frontend/src/pages/following-page/tabs/overview/overview-tab.tsx
  frontend/src/store/videos/reducer.ts
  shared/src/common/types/video/popular-video-response-dto.type.ts
Labels: fix, core-server, frontend, shared

#218 Task/common238 combine search page
  backend/core/src/core/channel/application/channel-service.ts
  backend/core/src/core/channel/chanel-container-module.ts
  backend/core/src/core/channel/port/channel-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/channel/channel-filters-data.config.ts
  backend/core/src/shared/enums/channel/channel.ts
  backend/core/src/shared/enums/enums.ts
  backend/core/src/shared/enums/video/video-filters-data.config.ts
  backend/core/src/shared/helpers/index.ts
  backend/core/src/shared/helpers/trim-channel-search.ts
  backend/core/src/shared/helpers/trim-video-search.ts
  backend/core/src/shared/types/channel/channel-search-query.type.ts
  backend/core/src/shared/types/channel/channel.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/search/search.ts
  backend/core/src/shared/types/types.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
  backend/core/src/shared/types/video/video.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/enums/search/search.ts
  frontend/src/common/types/component/component.ts
  frontend/src/common/types/search/search.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/common.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/sign-in-modal/sign-in-modal.tsx
  frontend/src/components/common/sign-in-modal/styles.module.scss
  frontend/src/components/search/components/channel-card/channel-card.tsx
  frontend/src/components/search/components/channel-card/styles.module.scss
  frontend/src/components/search/components/components.tsx
  frontend/src/components/search/components/filter-sidebar/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/search.tsx
  frontend/src/components/search/styles.module.scss
  frontend/src/pages/channel-page/components/channel-header/styles.module.scss
  frontend/src/pages/video/video-header/styles.module.scss
  frontend/src/services/search-api/search-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/search/actions.ts
  frontend/src/store/search/common.ts
  frontend/src/store/search/models.ts
  frontend/src/store/search/reducer.ts
  frontend/src/store/store.ts
  shared/src/common/types/channel/channel-search/channel-info-search-dto.type.ts
  shared/src/common/types/channel/channel-search/channel-search-data-response-dto.type.ts
  shared/src/common/types/channel/channel-search/channel-search.ts
  shared/src/common/types/channel/channel.ts
  shared/src/common/types/components/channel-card/channel-card.ts
  shared/src/common/types/components/channel-card/channel-card.type.ts
  shared/src/common/types/components/components.ts
  shared/src/common/types/search/search-data-response-dto.type.ts
  shared/src/common/types/search/search.ts
  shared/src/common/types/types.ts
Labels: enhancement, core-server, frontend, shared

#219 shared-249: * variable staging fix
  .github/workflows/deploy-dev.yml
Labels: ci/cd

#224 Fix/finalize browse history page
  backend/core/src/core/history/application/history-service.ts
  backend/core/src/core/history/port/history-repository.ts
  backend/core/src/primary-adapters/rest/history/history-controller.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
  backend/core/src/shared/types/batch-payload/batch-payload.ts
  backend/core/src/shared/types/types.ts
  frontend/src/common/types/batch-payload/batch-payload.ts
  frontend/src/common/types/types.ts
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/pages/history-page/common/history-list/history-list.tsx
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/services/history/history-api.service.ts
  frontend/src/store/history/actions.ts
  frontend/src/store/history/common.ts
  frontend/src/store/history/reducer.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/enums/api/history-api-path.enum.ts
  shared/src/common/types/common/batch-payload.ts
  shared/src/common/types/types.ts
Labels: fix, core-server, frontend, shared

#221 Task/frontend245 chat features
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/pages/video/video-page.module.scss
Labels: fix, frontend

#220 backend-250: * public videos
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
Labels: fix, core-server, hotfix

#226 Fix/finalize browse history page small change
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/history-page/history-page.tsx
Labels: fix, frontend

#227 frontend-157: * fix search query
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  frontend/src/components/common/header/header-container.tsx
Labels: fix, core-server, frontend

#228 frontend-255: * fixed routes for editing channel
  frontend/src/services/channel-crud-api/channel-crud-api.service.ts
  frontend/src/store/profile/reducer.ts
Labels: frontend

#229 Task/frontend223 implement recommended section
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/videos/common.ts
Labels: frontend

#233 fix/frontend235 * block changes size auth page
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/password-input/password-input.module.scss
  frontend/src/components/common/input/password-input/password-input.tsx
Labels: frontend

#234 frontend-236: + hover smooth animation
  frontend/src/components/auth/components/common/auth-submit-btn/styles.module.scss
  frontend/src/components/auth/components/form-controls.module.scss
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/sidebar/sidebar.module.scss
  frontend/src/components/sidebar/channel/channel.module.scss
  frontend/src/pages/studio/common/sidebar/styles.module.scss
Labels: fix, frontend

#237 Task/frontend 222 implement lazy loading cards
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/package.json
  frontend/src/components/app/app.tsx
  frontend/src/components/common/videos-block/videos-block.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
  package-lock.json
  shared/src/common/types/video/base-video-response-dto.type.ts
  shared/src/common/types/video/video-queries-params.dto.ts
  shared/src/common/types/video/video.ts
Labels: core-server, frontend, root, shared

#217 backend-149: * bug from task fix
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/channel-crud/application/channel-crud-service.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/common/port/image-store.ts
  backend/core/src/core/profile/aplication/profile-service.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/primary-adapters/rest/channel-crud/channel-crud-controller.ts
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
  backend/core/src/secondary-adapters/cloudinary/cloud/cloudinary-adapter.ts
Labels: fix, core-server

#239 fix/frontend260 * channel banner not fit space
  frontend/src/pages/channel-page/components/banner-section/styles.module.scss
Labels: frontend

#236 Task/frontend64 implement tooltips
  frontend/package.json
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/common/tooltip/tooltip.config.ts
  frontend/src/components/common/tooltip/tooltip.tsx
  frontend/src/components/notification-dropdown/notification-dropdown.tsx
  frontend/src/pages/studio/common/sidebar/sidebar.tsx
  package-lock.json
Labels: frontend, root

#240 fix/frontend262 * stream preview image not displayed
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/stream-appearance-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/upload-stream-preview/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-appearance-form/upload-stream-preview/upload-stream-preview.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Labels: frontend

#238 Fix/backend257 search engine
  backend/core/prisma/migrations/20220906172246_add_full_text_search_to_channel/migration.sql
  backend/core/prisma/migrations/20220907024401_update_full_text_search_to_video/migration.sql
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/channel/channel-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/search/get-search-query-split.helper.ts
  backend/core/src/shared/helpers/search/search.ts
  backend/core/src/shared/types/channel/channel-search-query.type.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/store/search/reducer.ts
Labels: fix, core-server, frontend

#241 fix/backend-222: fixed filtration for videos
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  package-lock.json
Labels: fix, core-server, root

#242 frontend: * fix video page bugs and improve recommendations look
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/video-tag/styles.module.scss
  frontend/src/components/common/video-tag/video-tag.tsx
  frontend/src/components/search/components/common/common.tsx
  frontend/src/components/search/components/video-card/components/meta-data-video/meta-data-video.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/rec-video-card/rec-video-card.tsx
  frontend/src/pages/video/links-block/rec-video-card/styles.module.scss
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Labels: frontend

#235 Fix/frontend213 following page UI
  frontend/src/assets/css/helpers/hide-scrollbar.scss
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/arrow-circle-left.svg
  frontend/src/assets/img/arrow-circle-right.svg
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/pages/following-page/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/block-container/block-container.tsx
  frontend/src/pages/following-page/tabs/overview/block-container/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/live-block/live-block.tsx
  frontend/src/pages/following-page/tabs/overview/offline-block/offline-block.tsx
  frontend/src/pages/following-page/tabs/overview/scrollable-videos-list/scrollable-videos-list.tsx
  frontend/src/pages/following-page/tabs/overview/scrollable-videos-list/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/see-more-card/see-more-card.tsx
  frontend/src/pages/following-page/tabs/overview/see-more-card/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/videos-list/header/header.tsx
  frontend/src/pages/following-page/tabs/overview/videos-list/header/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/videos-list/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/videos-list/videos-list.tsx
  frontend/src/pages/following-page/tabs/tab-button/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/styles.module.scss
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/services/http/http.service.ts
Labels: frontend

#246 Task/frontend226-Missing-background-for-video-duration-on-the-Search-page-cards
  frontend/src/components/search/components/video-card/styles.module.scss
Labels: fix, frontend

#247 Fix/backend-275: + fixed history middleware creating record with invalid id
  backend/core/src/primary-adapters/rest/middleware/create-video-history-record.ts
Labels: fix, core-server

#248 Fix/backend-275: * fixed error thrown from middleware
  backend/core/src/primary-adapters/rest/middleware/create-video-history-record.ts
Labels: fix, core-server

#249 Fix/frontend-275: + show 404 page on wrong id
  frontend/src/components/app/app.tsx
  frontend/src/pages/video/video-page-container.tsx
Labels: fix, frontend

#243 Task/frontend 111 implement preferences modal
  frontend/src/components/app/app.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/preferences-modal/preferences-modal-container.tsx
  frontend/src/components/common/preferences-modal/preferences-modal.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/helpers/array/push-or-delete-if-exists-helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/services/preferences-api/preferences-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/actions.ts
  frontend/src/store/preferences/actions.ts
  frontend/src/store/preferences/common.ts
  frontend/src/store/preferences/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  package.json
Labels: frontend, root

#250 Task/frontend 263 chart component analytics page
  frontend/package.json
  frontend/src/pages/studio/analytics/index.ts
  frontend/src/pages/studio/analytics/line-chart/custom-line-chart.tsx
  frontend/src/pages/studio/analytics/line-chart/tooltip/custom-tooltip.tsx
  frontend/src/pages/studio/analytics/line-chart/tooltip/styles.module.scss
  package-lock.json
  package.json
  tsconfig.json
Labels: frontend, root

#251 Task/frontend 278 skeleton in lazy loading
  frontend/src/components/common/video-skeleton/video-skeleton.config.ts
  frontend/src/components/common/videos-block/videos-block.tsx
Labels: frontend

#252 fixed number of displaying videos on main page
  frontend/src/pages/main-page/main-page-number-of-videos-loading.config.ts
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
Labels: fix, frontend

#253 Task/frontend110 add emoji
  frontend/package.json
  frontend/src/assets/css/components/default-emoji.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/img/smile-2.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/common.ts
  frontend/src/components/common/emoji/config.ts
  frontend/src/components/common/emoji/emoji.tsx
  frontend/src/components/common/emoji/styles.module.scss
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/components/common/text-with-emoji/styles.module.scss
  frontend/src/components/common/text-with-emoji/text-with-emoji.tsx
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.tsx
  frontend/src/components/video-chat/config.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/helpers/emoji/emoji.ts
  frontend/src/helpers/emoji/get-emoji-cdn-url.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
  package-lock.json
Labels: enhancement, frontend, root

#255 Task/frontend261 implement validation for input fileds on profile preference channel
  frontend/src/components/auth/components/restore-password-form/restore-password-form.tsx
  frontend/src/components/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/common/input/input-component.tsx
  frontend/src/components/common/text-area/styles.module.scss
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/pages/account-verification-page/send-verification-link-form/send-verification-link-form.tsx
  frontend/src/pages/studio/channel/common/styles.module.scss
  shared/src/common/enums/channel/channel-profile-change-validation-message.ts
  shared/src/common/enums/profile/profile-change-validation-message.ts
  shared/src/common/enums/user/user-validation-message.enum.ts
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
  shared/src/validation-schemas/user/password-creation-schema.ts
  shared/src/validation-schemas/user/user-sign-in-validation-schema.ts
  shared/src/validation-schemas/user/user-sign-up.validation-schema.ts
Labels: fix, frontend, shared

#256 frontend-274: * video live label
  frontend/src/assets/img/online-streaming-2.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/search/components/video-card/styles.module.scss
  frontend/src/components/search/components/video-card/video-card.tsx
Labels: frontend

#257 frontend-226: * fix duration label background color
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/video-card-main/styles.module.scss
  frontend/src/components/search/components/video-card/styles.module.scss
Labels: fix, frontend

#259 Fix/frontend header
  frontend/src/assets/img/sun-solid.svg
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/header/header.module.scss
  package-lock.json
Labels: fix, frontend, root

#260 Task/frontend269 studio chat
  frontend/src/common/enums/component/chat-style.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/components/video-chat/components/video-comment/video-comment.module.scss
  frontend/src/components/video-chat/components/video-comment/video-comment.tsx
  frontend/src/components/video-chat/config.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/pages/studio/stream/stream.tsx
Labels: frontend

#254 Task/frontend173 tags scrolling improvement
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/button/styles.module.scss
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/subscribe-button/styles.module.scss
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
  frontend/src/store/categories/actions.ts
  package-lock.json
Labels: frontend, root

#244 Task/frontend242 fix image editor bugs
  frontend/package.json
  frontend/src/components/common/channel-banner-editor/channel-baner-editor.tsx
  frontend/src/components/common/channel-banner-editor/styles.module.scss
  frontend/src/components/common/image-editor/image-editor.tsx
  frontend/src/components/common/image-editor/styles.module.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/upload-image/styles.module.scss
  frontend/src/components/common/upload-image/upload-image.tsx
  frontend/src/helpers/channel-banner-editor-size/get-channel-banner-editor-size.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/image/create-image.ts
  frontend/src/helpers/image/get-cropped-image.ts
  frontend/src/helpers/image/image.ts
  frontend/src/helpers/upload-image/upload-image.ts
  frontend/src/pages/studio/channel/channel.tsx
  package-lock.json
  shared/src/common/enums/image/image-upload-error-message.ts
Labels: fix, frontend, root, shared

#258 Fix/frontend279 tooltip error
  frontend/src/components/app/app.tsx
  frontend/src/components/common/common.ts
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/sidebar/sidebar.tsx
  frontend/src/components/common/tooltip/tooltip.tsx
  frontend/src/components/notification-dropdown/notification-dropdown.tsx
  frontend/src/pages/studio/common/sidebar/sidebar.tsx
Labels: fix, frontend

#263 frontend-216: + add functionality to update views
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  frontend/src/common/types/video/video.ts
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/video/add-video-view-dto.ts
  shared/src/common/types/video/video.ts
Labels: core-server, frontend, shared

#265 Fix/frontend283 emoji
  frontend/package.json
  frontend/src/assets/css/components/default-emoji.scss
  frontend/src/components/common/emoji/config.ts
  frontend/src/components/common/emoji/emoji.tsx
  frontend/src/components/common/text-with-emoji/text-with-emoji.tsx
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/index.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  package-lock.json
Labels: fix, frontend, root

#266 Fix/frontend270 stream chat
  frontend/src/components/video-chat/comments.mock.ts
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/config.ts
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/pages/live-chat/live-chat.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
Labels: fix, frontend

#269 Task/backend 284 make many to many explicit
  backend/core/prisma/migrations/20220912133045_add_category_video_tag_video_many_to_many/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed.ts
  backend/core/src/core/channel-streaming/application/dtos/cast-to-video-stream-response-dto.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/channel-streaming/channel-streaming-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/helpers/trim-channel-info.ts
  backend/core/src/shared/helpers/video/create-popular-response.ts
  backend/core/src/shared/types/channel/channel-info-before-trimming.ts
  backend/core/src/shared/types/stream/stream-info-before-trimming.type.ts
  backend/core/src/shared/types/tag/tag-search-response-dto.ts
  backend/core/src/shared/types/tag/tag.ts
Labels: core-server

#270 frontend-225: * change sun icon
  frontend/src/assets/img/sun-solid.svg
Labels: fix, frontend

#262 Task/frontend223 recommended block improvements
  frontend/src/components/app/app.tsx
  frontend/src/components/app/scroll-to-top.tsx
  frontend/src/pages/video/links-block/rec-video-card/components/components.tsx
  frontend/src/pages/video/links-block/rec-video-card/components/meta-data-video/meta-data-video.tsx
  frontend/src/pages/video/links-block/rec-video-card/components/meta-data-wait/meta-data-wait.tsx
  frontend/src/pages/video/links-block/rec-video-card/components/scheduled-video-badge/scheduled-video-badge.tsx
  frontend/src/pages/video/links-block/rec-video-card/config.ts
  frontend/src/pages/video/links-block/rec-video-card/rec-video-card.tsx
  frontend/src/pages/video/links-block/rec-video-card/styles.module.scss
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
Labels: frontend

#268 Task/frontned282 add skeletons to browse following history
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/browse-page/styles.module.scss
  frontend/src/pages/following-page/tabs/overview/live-block/live-block.tsx
  frontend/src/pages/following-page/tabs/overview/offline-block/offline-block.tsx
  frontend/src/pages/following-page/tabs/overview/videos-list/videos-list.tsx
  frontend/src/pages/following-page/tabs/tab-header/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/tab-header.tsx
  frontend/src/pages/history-page/common/skeleton/skeleton.tsx
  frontend/src/pages/history-page/styles.module.scss
Labels: frontend

#271 common-286: + add basic recommendations retrieval flow
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/core/video/port/video-search-filters.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/video-with-channel-dto.type.ts
  frontend/src/common/types/video/video.ts
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/rec-video-skeleton/rec-video-skeleton.tsx
  frontend/src/pages/video/links-block/rec-video-skeleton/styles.module.scss
  frontend/src/pages/video/links-block/rec-video-skeleton/video-skeleton.config.ts
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/video/get-similar-videos-response-dto.ts
  shared/src/common/types/video/video.ts
Labels: core-server, frontend, shared

#272 frontend-291:
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/store/categories/actions.ts
Labels: frontend

#273 Task/frontend256 streaming page improvements
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/category/port/category-repository.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/channel-streaming/application/dtos/cast-to-video-stream-response-dto.ts
  backend/core/src/core/tag/application/tag-service.ts
  backend/core/src/core/tag/port/tag-repository.ts
  backend/core/src/primary-adapters/rest/category/helpers/normalize-category-string-array-helper.ts
  backend/core/src/primary-adapters/rest/tag/helpers/normalize-tag-string-array-helper.ts
  backend/core/src/secondary-adapters/postgres/category/category-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/tag/tag-repository-adapter.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/common/constants/stream/stream.ts
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/select/index.ts
  frontend/src/components/common/select/select.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/custom-select-styles.ts
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/tabs/tab/styles.module.scss
  frontend/src/pages/studio/stream/common/stream-additional-settings-form-values.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
  frontend/src/store/stream/actions.ts
  frontend/src/store/stream/reducer.ts
  readme.md
  shared/src/common/types/stream/stream-update-request-dto.type.ts
  shared/src/common/types/stream/video-stream-response-dto.type.ts
Labels: core-server, frontend, root, shared

#276 frontend-276: * fix clear all button styles
  frontend/src/pages/history-page/history-page.tsx
  frontend/src/pages/history-page/styles.module.scss
Labels: fix, frontend

#277 frotend-290: * change live indicator in video player
  frontend/src/components/common/common.ts
  frontend/src/components/common/live-indicator/live-indicator.tsx
  frontend/src/components/common/live-indicator/styles.module.scss
  frontend/src/components/common/video-card-main/video-card-main.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/live-indicator.tsx
  frontend/src/components/common/video-player/video-player-controls/live-indicator/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
Labels: fix, frontend

#279 frontend-297: * fixed some mismatch with figma mockup for video cards…
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/search/components/video-card/styles.module.scss
Labels: frontend

#275 Task/frontend173 tags scrolling improvement
  frontend/src/assets/img/horizontal-scroll-left-arrow.svg
  frontend/src/assets/img/horizontal-scroll-right-arrow.svg
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/components/common/vertical-scroll/vertical-scroll.tsx
  frontend/src/pages/following-page/tabs/tab-button/styles.module.scss
Labels: fix, frontend

#278 Task/frontend 296 link browse page to preferences
  frontend/src/pages/browse-page/browse-page.tsx
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/store/categories/actions.ts
Labels: frontend

#264 tests: add integration test example
  backend/core/package.json
  backend/core/tests/helpers/helpers.ts
  backend/core/tests/integration/core/tag/data/tags.json
  backend/core/tests/integration/core/tag/tag-repository-adapter.ts
  backend/core/tests/integration/core/tag/tag.spec.ts
  backend/core/tests/integration/core/video/video-repository-adapter.ts
  package-lock.json
Labels: core-server, root

#283 fix live label
  frontend/src/components/common/live-indicator/live-indicator.tsx
  frontend/src/components/common/video-player/video-player-controls/styles.module.scss
Labels: fix, frontend

#281 Task/frontend258 comment crud
  backend/core/prisma/migrations/20220911211928_add_edited_video_comment/migration.sql
  backend/core/prisma/migrations/20220912020048_add_deleted_video_comment/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/core/comment/application/comment-service.ts
  backend/core/src/core/comment/comment-container-module.ts
  backend/core/src/core/comment/port/comment-repository.ts
  backend/core/src/primary-adapters/rest/chat/chat-controller.ts
  backend/core/src/primary-adapters/rest/comment/comment-controller.ts
  backend/core/src/primary-adapters/rest/rest-container-module.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/comment/comment-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/postgres-container-module.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/enums/api/api.ts
  backend/core/src/shared/enums/messages/exception-messages.ts
  backend/core/src/shared/helpers/calculate-reactions.helper.ts
  backend/core/src/shared/helpers/trim-comment.ts
  backend/core/src/shared/helpers/trim-video.ts
  backend/core/src/shared/helpers/video/create-video-comment-response.ts
  backend/core/src/shared/types/comment/comment-expanded-dto-before-trimming.ts
  backend/core/src/shared/types/comment/comment.ts
  backend/core/src/shared/types/container-type-keys.ts
  backend/core/src/shared/types/types.ts
  frontend/src/assets/img/edit.svg
  frontend/src/assets/img/report.svg
  frontend/src/assets/img/trash.svg
  frontend/src/common/enums/component/comment-menu-options.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/comment/comment.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/text-area/text-area.tsx
  frontend/src/helpers/array/remove-item-if-exists.helper.ts
  frontend/src/helpers/array/replace-item-if-exists.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/video/common/add-comment-form/add-comment-form.tsx
  frontend/src/pages/video/common/add-comment-form/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-block.tsx
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/common/comment-block/config.ts
  frontend/src/pages/video/common/comment-block/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
  frontend/src/services/comment-api/comment-api.service.ts
  frontend/src/services/services.ts
  frontend/src/store/store.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/enums/api/api.ts
  shared/src/common/enums/api/comment-api-path.enum.ts
  shared/src/common/types/comment/delete-comment-response-dto.type.ts
  shared/src/common/types/comment/index.ts
Labels: enhancement, core-server, frontend, shared

#282 Task/frontend301 remove hardcode
  .docker/debug/frontend-debug.Dockerfile
  .docker/frontend.Dockerfile
  .docker/frontend.prod.Dockerfile
  .env.example/client.env.example
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prod.yml
  backend/core/prisma/seed-data/videos.ts
  frontend/.env.example
  frontend/src/common/config/socket.ts
  frontend/src/common/constants/stream/stream.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/user/get-google-url.ts
  frontend/src/helpers/user/index.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  package-lock.json
  package.json
  readme.md
  tests/.env.example
  tests/package.json
  tests/tests/api/config/dev.config.ts
  tests/tests/api/specs/autorization_api-test.ts
  tests/tests/api/specs/positive_api-test.ts
  tests/tests/config/config.ts
Labels: ci/cd, docker, core-server, frontend, root

#285 Task/frontend112 implemented recommended videos block
  backend/core/prisma/seed-data/videos.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/constants/constants.ts
  backend/core/src/shared/helpers/trim-video.ts
  frontend/src/components/common/filters-block/filters-block.module.scss
  frontend/src/components/common/filters-block/index.tsx
  frontend/src/components/common/videos-block/videos-block.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/common/videos-block/videos.config.ts
  frontend/src/pages/main-page/main-page-container.tsx
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/common.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/types/video/video-recommended-params.dto.ts
  shared/src/common/types/video/video-response-query-raw.dto.ts
  shared/src/common/types/video/video.ts
Labels: core-server, frontend, shared

#284 Task/frontend285 studio channel setting page fix
  frontend/src/assets/img/default-channel-banner.jpg
  frontend/src/pages/studio/channel/channel.tsx
  frontend/src/pages/studio/channel/common/channel-images-component/channel-images.tsx
  frontend/src/pages/studio/channel/styles.module.scss
Labels: fix, frontend

#286 Fix/frontend198 profile image
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/user-avatar-or-initials/styles.module.scss
Labels: fix, frontend

#288 frontend-261: * fix wrong validation message
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Labels: fix, shared

#289 frontend303: * fix chat-block overlay
  frontend/src/pages/video/video-page.module.scss
Labels: fix, frontend

#290 frontend-282: * fix history page skeleton size
  frontend/src/pages/history-page/styles.module.scss
Labels: fix, frontend

#274 Task/frontend293 range error appears and webapp crashes
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/search-by-categories-response.dto.type.ts
  backend/core/src/shared/types/video/video.ts
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/services/category-api/category-api.service.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/types/video/base-video-response-dto.type.ts
  shared/src/common/types/video/video.ts
Labels: fix, core-server, frontend, shared

#291 Fix/frontend305 smile appear
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
Labels: fix, frontend

#294 backend-300: - stream going public on live
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
Labels: core-server

#295 14.09 10:45
  backend/core/src/core/category/application/category-service.ts
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/category/category-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/search-by-categories-response.dto.type.ts
  backend/core/src/shared/types/video/video.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/user-avatar-or-initials/styles.module.scss
  frontend/src/components/common/videos-block/videos-block.tsx
  frontend/src/components/video-chat/components/send-message/send-message.module.scss
  frontend/src/components/video-chat/components/send-message/send-message.tsx
  frontend/src/pages/history-page/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
  frontend/src/services/category-api/category-api.service.ts
  frontend/src/store/videos/actions.ts
  frontend/src/store/videos/reducer.ts
  shared/src/common/types/video/base-video-response-dto.type.ts
  shared/src/common/types/video/video.ts
  shared/src/validation-schemas/profile/profile-update-validation-schema.ts
Labels: core-server, frontend, shared

#293 Task/backend 271 video managment improvements
  backend/core/prisma/migrations/20220913194120_add_video_cascade_delete/migration.sql
  backend/core/prisma/migrations/20220914001458_add_cascade_delete_for_relations/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/core/video/application/dtos/cast-to-video-info.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/helpers/string-to-video-privacy-helper.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/video-with-reactions-and-comments-dto.ts
  backend/core/src/shared/types/video/video.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/video/video-privacy.enum.ts
  shared/src/common/enums/video/video-status.enum.ts
  shared/src/common/enums/video/video.ts
  shared/src/common/types/video/update-video-info-dto.ts
  shared/src/common/types/video/update-video-visibillity-dto.ts
  shared/src/common/types/video/video-info-dto.ts
  shared/src/common/types/video/video.ts
Labels: core-server, shared

#297 frontend-299: * fix stream settings page style
  frontend/src/pages/studio/stream/stream.tsx
  frontend/src/pages/studio/stream/styles.module.scss
Labels: frontend, hotfix

#292 Fix/frontend295 stream page improv 2
  .docker/debug/backend-debug.Dockerfile
  .docker/debug/docker-compose.debug.yml
  .docker/debug/frontend-debug.Dockerfile
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/close.svg
  frontend/src/components/common/input/area-input/styles.module.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/portal/portal.ts
  frontend/src/components/common/portal/styles.module.scss
  frontend/src/components/common/toggle-switch/toggle-switch.tsx
  frontend/src/components/common/video-player/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/helpers/categories/categories.ts
  frontend/src/helpers/categories/pretty-display-category-name.ts
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
  frontend/src/pages/studio/stream/index.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream/categories-display.tsx
  frontend/src/pages/studio/stream/stream/chat-toggle.tsx
  frontend/src/pages/studio/stream/stream/privacy-display.tsx
  frontend/src/pages/studio/stream/stream/privacy-selector.tsx
  frontend/src/pages/studio/stream/stream/stream.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/store/categories/actions.ts
Labels: docker, frontend

#298 fix channel banner editor scroll
  frontend/src/components/common/channel-banner-editor/channel-baner-editor.tsx
Labels: frontend, hotfix

#299 Fix/common: releasing hotfixes into production
  .docker/debug/backend-debug.Dockerfile
  .docker/debug/docker-compose.debug.yml
  .docker/debug/frontend-debug.Dockerfile
  backend/core/prisma/migrations/20220913194120_add_video_cascade_delete/migration.sql
  backend/core/prisma/migrations/20220914001458_add_cascade_delete_for_relations/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/src/core/video/application/dtos/cast-to-video-info.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/helpers/string-to-video-privacy-helper.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/src/shared/types/video/video-with-reactions-and-comments-dto.ts
  backend/core/src/shared/types/video/video.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/close.svg
  frontend/src/components/common/channel-banner-editor/channel-baner-editor.tsx
  frontend/src/components/common/input/area-input/styles.module.scss
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/portal/portal.ts
  frontend/src/components/common/portal/styles.module.scss
  frontend/src/components/common/toggle-switch/toggle-switch.tsx
  frontend/src/components/common/video-player/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
  frontend/src/helpers/categories/categories.ts
  frontend/src/helpers/categories/pretty-display-category-name.ts
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/stream-basic-info-form/stream-basic-info-form.tsx
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-forms/styles.module.scss
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
  frontend/src/pages/studio/stream/index.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream/categories-display.tsx
  frontend/src/pages/studio/stream/stream/chat-toggle.tsx
  frontend/src/pages/studio/stream/stream/privacy-display.tsx
  frontend/src/pages/studio/stream/stream/privacy-selector.tsx
  frontend/src/pages/studio/stream/stream/stream.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/store/categories/actions.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/video/video-privacy.enum.ts
  shared/src/common/enums/video/video-status.enum.ts
  shared/src/common/enums/video/video.ts
  shared/src/common/types/video/update-video-info-dto.ts
  shared/src/common/types/video/update-video-visibillity-dto.ts
  shared/src/common/types/video/video-info-dto.ts
  shared/src/common/types/video/video.ts
Labels: docker, core-server, frontend, shared

#301 frontend-311: * fixed bug related with broken tab switch on browse page
  frontend/src/helpers/categories/categories.ts
  frontend/src/helpers/categories/ugly-display-category-name.ts
  frontend/src/pages/browse-page/browse-page.tsx
Labels: frontend, hotfix

#300 Fix/frontend310 subscription count on search & channel pages
  frontend/src/components/search/components/channel-card/channel-card.tsx
  frontend/src/helpers/array/update-item-if-exists.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/pages/channel-page/components/channel-header/subscribe/subscribe.tsx
  frontend/src/store/channel/actions.ts
  frontend/src/store/channel/common.ts
  frontend/src/store/channel/reducer.ts
  frontend/src/store/search/actions.ts
  frontend/src/store/search/common.ts
  frontend/src/store/search/reducer.ts
Labels: frontend, hotfix

#302 Fix/hide unimplemented content
  frontend/src/components/common/header/header.tsx
  frontend/src/pages/studio/home/home.tsx
Labels: frontend

#303 Fix/preferences modal overflow
  frontend/src/components/common/modal/styles.module.scss
  frontend/src/components/common/preferences-modal/preferences-modal.tsx
Labels: frontend

#304 Task/frontend264 implement studio analytics page layout
  frontend/.env.example
  frontend/src/components/app/app.tsx
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/studio/analytics/analytics.tsx
  frontend/src/pages/studio/analytics/index.ts
  frontend/src/pages/studio/analytics/line-chart/custom-line-chart.tsx
  frontend/src/pages/studio/analytics/line-chart/mock-helper/mock-helper.ts
  frontend/src/pages/studio/analytics/line-chart/types/types.ts
  frontend/src/pages/studio/analytics/periods/periods.tsx
  frontend/src/pages/studio/analytics/periods/styles.module.scss
  frontend/src/pages/studio/analytics/statistics-block/statistics-block.tsx
  frontend/src/pages/studio/analytics/statistics-block/styles.module.scss
  frontend/src/pages/studio/analytics/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/followers/followers-tab.tsx
  frontend/src/pages/studio/analytics/tabs/followers/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-button/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-button/tab-button.tsx
  frontend/src/pages/studio/analytics/tabs/tab-header/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/tab-header/tab-header.tsx
  frontend/src/pages/studio/analytics/tabs/tab-info.ts
  frontend/src/pages/studio/analytics/tabs/tab.ts
  frontend/src/pages/studio/analytics/tabs/views/constants.ts
  frontend/src/pages/studio/analytics/tabs/views/styles.module.scss
  frontend/src/pages/studio/analytics/tabs/views/views-tab.tsx
Labels: frontend

#305 Fix/frontend306 preferences modal improvings
  frontend/src/components/common/preferences-modal/styles.module.scss
Labels: frontend

#307 frontend-320: * fix stream settings save
  frontend/src/pages/studio/common/stream-settings-modal/stream-settings-modal.tsx
  frontend/src/pages/studio/common/stream-settings-modal/styles.module.scss
Labels: bug, frontend

#306 frontend-261: * fix profile and channel validation
  frontend/src/pages/profile-preferences-page/common/profile-preferences-page-form.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
  frontend/src/pages/studio/channel/common/channel-settings-form.tsx
  frontend/src/pages/studio/channel/common/styles.module.scss
  shared/src/validation-schemas/channel/channel-update-validation-scheme.ts
Labels: bug, frontend, shared

#309 task/backend-313: + implement new logic for sorting video and infinit…
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/links-block/styles.module.scss
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
Labels: core-server, frontend

#310 Task/common318 stream analytics
  frontend/src/assets/css/scaffolding.scss
  frontend/src/components/app/app.tsx
  frontend/src/components/common/tabs/tab-button/styles.module.scss
  frontend/src/components/common/tabs/tab-button/tab-button.tsx
  frontend/src/components/common/tabs/tab-header/styles.module.scss
  frontend/src/components/common/tabs/tab-header/tab-header.tsx
  frontend/src/components/common/tabs/tab-info.ts
  frontend/src/components/common/vertical-scroll/style.module.scss
  frontend/src/pages/following-page/following-page.tsx
  frontend/src/pages/following-page/styles.module.scss
  frontend/src/pages/following-page/tabs/tab-header/tab-header.tsx
  frontend/src/pages/studio/common/custom-tooltip/custom-tooltip.tsx
  frontend/src/pages/studio/common/custom-tooltip/styles.module.scss
  frontend/src/pages/studio/common/live-stream-analytics/chat-chart/chat-chart.tsx
  frontend/src/pages/studio/common/live-stream-analytics/viewers-chart/viewers-chart.tsx
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream/stream.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/header/header.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/header/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/live-analytics.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/all/all.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/all/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/chat/chat.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/tab.enum.ts
  frontend/src/pages/studio/stream/stream/tabs/live-analytics/tabs/views/views.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-settings/live-settings.tsx
  frontend/src/pages/studio/stream/stream/tabs/live-settings/styles.module.scss
  frontend/src/pages/studio/stream/stream/tabs/tabs.ts
Labels: frontend

#311 Task/frontend312 implement modal for start streaming
  backend/core/prisma/migrations/20220915082203_add_user_stream_permission/migration.sql
  backend/core/prisma/schema.prisma
  backend/core/prisma/seed-data/users.ts
  backend/core/src/core/user/application/user-service.ts
  backend/core/src/core/user/port/user-repository.ts
  backend/core/src/primary-adapters/rest/user/user-controller.ts
  backend/core/src/secondary-adapters/postgres/user/user-repository-adapter.ts
  frontend/src/components/common/common.ts
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/header/header.module.scss
  frontend/src/components/common/header/header.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/common/request-modal/request-modal.tsx
  frontend/src/components/common/request-modal/styles.module.scss
  frontend/src/components/common/sign-in-modal/sign-in-modal.tsx
  frontend/src/pages/studio/home/styles.module.scss
  frontend/src/pages/video/video-header/video-header.tsx
  frontend/src/services/auth-api/auth-api.service.ts
  frontend/src/store/auth/actions.ts
  frontend/src/store/auth/common.ts
  frontend/src/store/auth/reducer.ts
  shared/src/common/enums/api/user-api-path.enum.ts
  shared/src/common/enums/user/stream-permission.enum.ts
  shared/src/common/enums/user/user.ts
  shared/src/common/types/user/user-stream-permission-response-dto.ts
  shared/src/common/types/user/user.ts
Labels: core-server, frontend, shared

#313 Ci/tests integration
  .github/workflows/ci.yml
  backend/core/src/configuration/swagger.ts
  backend/core/tests/integration/core/tag/tag-repository-adapter.ts
  backend/core/tests/integration/core/tag/tag.spec.ts
  backend/core/tests/integration/core/video/video-repository-adapter.ts
  package-lock.json
  tests/package.json
  tests/scripts/merge-api-reports.js
  tests/tests/api/lib/controllers/auth.controller.ts
  tests/tests/api/lib/controllers/history.controller.ts
  tests/tests/api/lib/controllers/users.controller.ts
  tests/tests/api/lib/controllers/videos.controller.ts
  tests/tests/api/specs/autorization_api-test.ts
  tests/tests/api/specs/positive_api-test.ts
  tests/tests/helpers/functionsForChecking.helpers.ts
Labels: ci/cd, core-server, root

#312 Fix/frontend321 not all videos loaded
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/use-window-dimension/use-window-dimension.ts
  frontend/src/pages/main-page/main-page-number-of-videos-loading.config.ts
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/pages/video/links-block/links-block.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/video-page/reducer.ts
Labels: fix, frontend

#314 Task/frontend 271 studio content page
  backend/core/src/core/video/application/dtos/cast-to-video-info.ts
  backend/core/src/core/video/application/video-service.ts
  backend/core/src/core/video/port/video-repository.ts
  backend/core/src/primary-adapters/rest/video/video-controller.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  backend/core/tests/integration/core/video/video-repository-adapter.ts
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/img/content.svg
  frontend/src/assets/img/download.svg
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/component/component.ts
  frontend/src/common/enums/component/content-page-menu-options.enum.ts
  frontend/src/common/enums/component/icon-name.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/components/app/app.tsx
  frontend/src/components/common/confirmation-modal/confirmation-modal.tsx
  frontend/src/components/common/confirmation-modal/styles.module.scss
  frontend/src/components/common/icon/icon.tsx
  frontend/src/components/common/input/input-component.tsx
  frontend/src/pages/studio/common/sidebar/config.ts
  frontend/src/pages/studio/content/common/info-modal/index.tsx
  frontend/src/pages/studio/content/common/info-modal/styles.module.scss
  frontend/src/pages/studio/content/common/privacy-modal/index.tsx
  frontend/src/pages/studio/content/common/privacy-modal/styles.module.scss
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/config.ts
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/index.ts
  frontend/src/pages/studio/content/styles.module.scss
  frontend/src/pages/studio/index.ts
  frontend/src/services/video-api/video-api.service.ts
  frontend/src/store/actions.ts
  frontend/src/store/content-page/actions.ts
  frontend/src/store/content-page/common.ts
  frontend/src/store/content-page/reducer.ts
  frontend/src/store/root-reducer.ts
  frontend/src/validation-schemas/channel/channel.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/api/video-api-path.enum.ts
  shared/src/common/enums/channel/channel-profile-change-validation-message.ts
  shared/src/common/types/video/update-video-visibillity-dto.ts
Labels: core-server, frontend, shared

#316 Fix/frontend 329 fix width video chat
  frontend/src/pages/studio/stream/stream/styles.module.scss
Labels: fix, frontend

#315 task/frontend-312 + implement modal for start streaming
  frontend/src/components/app/app.tsx
  frontend/src/components/common/header/header-container.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/pages/studio/home/home-container.tsx
Labels: frontend

#317 frontend-271: * fixed update info functionality
  frontend/src/pages/studio/content/common/info-modal/index.tsx
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/validation-schemas/content-page/content-page.ts
  frontend/src/validation-schemas/validation-schemas.ts
  shared/src/common/enums/content-page/content-page.ts
  shared/src/common/enums/content-page/video-change-validation-message.ts
  shared/src/common/enums/enums.ts
  shared/src/validation-schemas/content-page/channel-update-validation-scheme.ts
  shared/src/validation-schemas/content-page/content-page.ts
  shared/src/validation-schemas/validation-schemas.ts
Labels: frontend, shared

#318 Fix/frontend comments block jumps
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/store/video-page/actions.ts
  frontend/src/store/video-page/common.ts
  frontend/src/store/video-page/reducer.ts
Labels: fix, frontend

#319 Fix/common 330 display of waiting streams
  backend/core/src/secondary-adapters/postgres/channel-crud/channel-crud-repository-adapter.ts
  backend/core/src/secondary-adapters/postgres/video/video-repository-adapter.ts
  frontend/src/pages/channel-page/components/video-section/video-section.tsx
  frontend/src/pages/studio/content/common/styles.module.scss
  frontend/src/pages/studio/content/common/video-row.tsx
  frontend/src/pages/studio/content/content.tsx
  frontend/src/pages/studio/content/styles.module.scss
Labels: core-server, frontend

#320 Fix/frontend324 video player ios
  frontend/src/components/common/video-player/play-pause-center-effect/play-pause-center-effect.tsx
  frontend/src/components/common/video-player/video-player-controls/control-button/control-button.tsx
  frontend/src/components/common/video-player/video-player-controls/fullscreen-button/fullscreen-button.tsx
  frontend/src/components/common/video-player/video-player-controls/fullscreen-button/helpers/fscreen.ts
  frontend/src/components/common/video-player/video-player-controls/settings-control/quality-selector/quality-selector.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/styles.module.scss
  frontend/src/components/common/video-player/video-player.tsx
  nginx/nginx.debug.conf
Labels: frontend

#321 fix/frontend-323: * fixed preferred modal and some small bugs
  frontend/src/components/app/app.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/pages/main-page/main-page-number-of-videos-loading.config.ts
  frontend/src/pages/main-page/main-page.module.scss
  frontend/src/pages/main-page/main-page.tsx
  frontend/src/pages/studio/stream/stream/styles.module.scss
  frontend/src/pages/video/video-header/styles.module.scss
  frontend/src/pages/video/video-page.module.scss
Labels: fix, frontend

#322 fix/frontend312 * implement modal for streaming
  frontend/src/components/app/app.tsx
  frontend/src/components/common/protected-route/protected-route.tsx
  frontend/src/components/common/request-modal/styles.module.scss
  frontend/src/pages/studio/analytics/periods/periods.tsx
Labels: frontend

#324 frontend-324: * fix settings display on mobiles
  frontend/src/components/common/portal/portal.ts
  frontend/src/components/common/video-player/video-player-controls/settings-control/generic-settings-modal/generic-settings-modal.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
Labels: frontend

#325 change data folder mapping
  .docker/docker-compose.prod.yml
Labels: docker

#326 fix/frontend 327: * rewrited logic for pretty date string
  frontend/src/helpers/date/is-date-same-by-day-mounth-year/is-date-same-by-day-mounth-year.ts
  frontend/src/pages/history-page/common/history-list/history-list.tsx
Labels: fix, frontend

#327 common-277:
  backend/core/src/core/channel-streaming/application/channel-streaming-service.ts
  frontend/src/pages/studio/stream/stream-container.tsx
  frontend/src/pages/studio/stream/stream/stream.tsx
  package.json
Labels: core-server, frontend, root

#328 fix/frontend-326: * fixed bytton styles and modal preferences elements
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Labels: fix, frontend

#329 fixed modal preferences and history page
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/helpers/date/is-date-same-by-day-mounth-year/is-date-same-by-day-mounth-year.ts
  frontend/src/pages/history-page/common/history-list/history-list.tsx
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
  frontend/src/pages/profile-preferences-page/styles.module.scss
Labels: fix, frontend

#330 frontend-334: * fix google loader alignment
  frontend/src/components/auth/components/common/social-buttons/google-button/google-button.tsx
  frontend/src/components/auth/components/common/social-buttons/google-button/styles.module.scss
  frontend/src/components/common/loader/loader.tsx
Labels: frontend

#331 fix/frontend-336: * fixed align chat and preferences modal
  frontend/src/components/common/modal/modal.tsx
  frontend/src/components/common/preferences-modal/preferences-modal.tsx
  frontend/src/components/common/preferences-modal/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
  frontend/src/components/video-chat/video-chat-container.tsx
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
  frontend/src/pages/history-page/common/history-list/history-list.tsx
  frontend/src/pages/video/video-page-container.tsx
  frontend/src/pages/video/video-page.module.scss
Labels: fix, frontend

#332 frontend-317: * fix default user avatar
  frontend/src/pages/profile-preferences-page/profile-preferences-page.tsx
Labels: fix, frontend

#333 fix/frontend: * fixed sizes categories card on mobile
  frontend/src/components/common/preferences-modal/styles.module.scss
Labels: fix, frontend

#334 common: * video and channel seeds
  backend/core/prisma/seed-data/channels.ts
  backend/core/prisma/seed-data/videos.ts
Labels: core-server

#336 Task/common video channels seeds
  backend/core/prisma/seed-data/videos.ts
  backend/core/prisma/seed.ts
Labels: core-server

#339 frontend-324: + fix modal on different browsers
  frontend/src/components/common/video-player/video-player-controls/control-button/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/modal-item/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/settings-control/settings-control.tsx
  frontend/src/components/common/video-player/video-player-controls/settings-control/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/video-player-controls.tsx
  frontend/src/components/common/video-player/video-player-controls/video-time/styles.module.scss
  frontend/src/components/common/video-player/video-player-controls/volume-wrapper/styles.module.scss
  frontend/src/hooks/use-outside-click/use-outside-click-handler.hook.ts
Labels: frontend

#338 Fix/frontend 337 fix redirect to the last opened page
  frontend/src/pages/video/common/comment-block/comment-component.tsx
  frontend/src/pages/video/video-page-container.tsx
Labels: fix, frontend

#341 frontend: + make auth a nested reducer
  frontend/src/store/auth/reducer.ts
  frontend/src/store/store.ts
Labels: frontend

#342 Fix/backend338 sockets obs connect event
  backend/push/src/helpers/get-socket-id-by-user-id.helper.ts
  backend/push/src/services/socket/socket-service.ts
Labels: fix, push-server

#343 frontend-339: * potential fix
  frontend/src/components/common/video-player/video-player.tsx
Labels: bug, fix, frontend

#344 frontend-339: * back to previos version
  frontend/src/components/common/video-player/video-player.tsx
Labels: bug, frontend

#345 Fix/backend340 disabling chat
  backend/core/src/primary-adapters/rest/channel-streaming/channel-streaming-controller.ts
Labels: core-server

#340 frontend-324: - unnesessary liveMaxLatencyDuration that fas-forwarded…
  frontend/src/components/common/video-player/video-player-controls/progress-bar/progress-bar.tsx
  frontend/src/components/common/video-player/video-player.tsx
Labels: frontend

#346 Fix/common video fast forward and seeds
  backend/core/prisma/seed-data/videos.ts
  backend/core/prisma/seed.ts
  backend/video-transcoding-server/src/helpers/add-vod-to-playlists.ts
  backend/video-transcoding-server/src/services/fs/fs-service.ts
  backend/video-transcoding-server/src/services/stream/streaming-service.ts
Labels: core-server, transcoding-server

#347 frontend-339: + check is player ready
  frontend/src/helpers/common/common.ts
  frontend/src/helpers/common/timeout.ts
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/video/check-is-playlist-full.helper.ts
  frontend/src/helpers/video/video.ts
  frontend/src/pages/studio/stream/stream/stream.tsx
Labels: fix, frontend

#348 fix channel tabs style
  frontend/src/pages/channel-page/components/channel-header/channel-tabs/channel-tab/styles.module.scss
Labels: frontend, hotfix

#349 backend-342: * stats seed
  backend/core/prisma/seed.ts
Labels: core-server

#350 frontend-243: * fix disabled chat styles
  backend/core/prisma/seed-data/videos.ts
  frontend/src/components/video-chat/video-chat.module.scss
  frontend/src/components/video-chat/video-chat.tsx
Labels: fix, core-server, frontend

#351 Fix/backend344 video seeds
  backend/core/prisma/seed.ts
  backend/core/src/secondary-adapters/postgres/history/history-repository-adapter.ts
Labels: fix, core-server

#352 task/backend346: * changed expiration date of access token
  backend/core/src/configuration/config.ts
Labels: fix, core-server
